{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/cont.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Para asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Para alguna asesoria en diseno web</p>
        
            
        <br>
        <p><b>Teléfono:</b> +52 722 431 9998</p>
        <p><b>Honorarios:</b> $120/h (precio base)</p>
    </div>
</div>
{% endblock %}

